$primary: #234d5f;
$secondary: #c7af13;
$danger: #a22c29;
$dark: #0d0f06;
$light: #e2e7e6;

$display-font-family: "Zen Tokyo Zoo", cursive;
$primary-font-family: "Poppins", sans-serif;

$main-margin: 1rem;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "dark": $dark,
  "light": $light,
);

#root {
  font-family: $primary-font-family;
}

header {
  background: linear-gradient(
      to left top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1488693161025-5f967b74de89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1041&q=80");
  background-size: cover;
  background-position: 50% 30%;
  filter: grayscale(100%);
  padding-top: 10rem;
  height: 25rem;
  text-align: center;
}

header h1 {
  color: $light;
  font-family: $display-font-family;
  font-size: 5rem;
  margin: 0;
}

form {
  margin: $main-margin 0;
}

.alert {
  margin-top: $main-margin;
}

.card {
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-img-top {
  height: 12rem;
  object-fit: cover;
}

.card-body {
  color: $dark;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.center-loading {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 765px) {
  header h1 {
    font-size: 2.5rem;
  }
}

@import "~bootstrap/scss/bootstrap";
